$grey-medium: #9da1b3;
$blue-dark: #32353d;
$blue-bright: #1e86ff;
$blue-bright-darker: #0169e0;

.header {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main-page-heading {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 2rem;
}

.main-page-subHeading {
  margin-top: 1rem;
  color: $grey-medium;
}

.form-background {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
  height: 300px;
  background-image: url("../backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 992px) {
    height: 250px;
  }
}

.form {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 800px;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media (max-width: 991px) {
    padding: 1.5rem 1rem;
    flex-direction: column;
  }
}

.input-field {
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: 992px) {
    margin-right: 1rem;

    &:first-child {
      border-right: 1px solid #d6d9db;
    }
  }

  input {
    width: 100%;
    font-size: 1rem;
    border: none;
    color: rgb(50, 53, 61);

    @media (max-width: 576px) {
      font-size: 0.9rem;
    }

    &::placeholder {
      color: $grey-medium;
    }
  }
}

.far,
.fas {
  color: $grey-medium;
  margin-right: 0.5rem;

  @media (min-width: 400px) {
    margin-right: 0.8rem;
  }
}

.search {
  padding: 0.8rem 1.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: $blue-bright;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 300ms ease-out;

  @media (max-width: 992px) {
    margin-top: 1rem;
  }

  &:hover {
    background-color: $blue-bright-darker;
  }

  &:active {
    outline: none;
    transform: scale(0.9);
  }
}

.filters {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.results-num {
  font-size: 1.2rem;
  color: $blue-dark;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.filter-heading {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}

.filter-text {
  margin: 0;
}

.filter-tools {
  margin-top: 0.8rem;
}

.filter-checkbox {
  font-size: 0.9rem;
  color: $grey-medium;
  margin-right: 1.5rem;
  cursor: pointer;
}

.filter-checkbox:last-child {
  margin-right: 0;
}

.job-cards {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-gap: 3rem;
}
