* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background: #f6f7fb;
}

input {
  font-family: "Inter", sans-serif;
}

section {
  display: block;
}
